
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css"> -->
    <style>
        div {
            margin: 0 0 50px 0;
            padding: 0 10px;
        }

        table tr td {
            border: 1px solid #000;
            padding: 10px;
        }
    </style>
</head>

<body>

    <!-- 常用的標題標籤
         常用的文字段落標籤 -->
    <div>
        <h1>h1</h1>
        <h2>h2</h2>
        <h3>h3</h3>
        <h4>h4</h4>
        <h5>h5</h5>
        <h6>h6</h6>
        <span>span</span>
        <p>p</p>
    </div>

    <!-- 有點選功能的標籤 -->
    <div>
        <a href="">a</a>
        <button>button</button>
    </div>

    <!-- 圖片,畫布標籤 -->
    <div>
        <!-- <img src="/img/husky.jpg" alt=""> -->
        <canvas style="border: 1px solid #000;" width="100px" height="100px"></canvas>
    </div>

    <!-- input 中常用到的 -->

    <div>
        text<input type="text"><br>
        password<input type="password"><br>
        checkbox<input type="checkbox"><br>
        submit<input type="submit"><br>
        number<input type="number"><br>
        time<input type="time"><br>
        date<input type="date"><br>
        email<input type="email"><br>
    </div>

    <!-- radio 選擇器 -->
    <div>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label>
    </div>

    <!-- select 下拉式選單 -->
    <div>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <!-- table 表格 -->
    <div>
        <table>

            <thead>
                <tr>
                    <td>name</td>
                    <td>id</td>
                    <td>money</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Your name</td>
                    <td>1</td>
                    <td>10$</td>
                </tr>
            </tbody>

        </table>
    </div>

    <!-- nav 導覽列 -->
    <div>
        <!-- 有序 -->
        <div>
            <ol>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ol>
        </div>
        <!-- 無序 -->
        <div>
            <ul>
                <li>A</li>
                <li>B</li>
                <li>C</li>
            </ul>
        </div>
    </div>

</body>

</html>