<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HERO</title>
    <link rel="stylesheet" href="/css/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <nav>
            <a href="https://www.facebook.com/DSC-NKUST-%E7%AC%AC%E4%B8%80%E6%A0%A1%E5%8D%80-103427304803046"
                target="_blank"><img
                    src="/img/DSC-National-Kaohsiung-University-of-Science-and-Technology-Light-Vertical-Logo.png"
                    alt="DSC"></a>
            <ul>
                <li><a href="#">NKFUST DSC</a></li>
                <li><a href="#">About DSC</a></li>
                <li><a href="#">聯 絡 我 們</a></li>
                <li><a href="#">贊 助 單 位</a></li>
                <li><a href="#">乾 爹 專 區</a></li>
            </ul>
            <div class="container_search">
                <input type="text"><i class="fas fa-search"></i>
            </div>
            <div class="footer">
                <p>Copyright &copy; Hero. All rights reserved.</p>
            </div>
        </nav>
        <div class="content">
            <div class="content_text">
                <h1>DSC 網 頁 前 端 入 門 ‘ 網 頁 前 端 切 版 ’</h1>
                <h2>一 個 簡 單 的 導 覽 列</h2>
                <div>
                    <a href="https://google.com">more <img src="/img/a_1.svg" alt="GO"></a>
                </div>
                <button>Hero Inc 株 式 會 社 <img src="/img/a_2.svg" alt="GO"></button>
            </div>
        </div>
    </div>

</body>


</html>