<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HERO</title>
    <link rel="stylesheet" href="../css/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css">
    <link rel="stylesheet" href="../css/style2.css">
</head>

<body>
    <div class="container">
        <nav>
            <a href="https://www.facebook.com/DSC-NKUST-%E7%AC%AC%E4%B8%80%E6%A0%A1%E5%8D%80-103427304803046"
                target="_blank"><img
                    src="../img/DSC-National-Kaohsiung-University-of-Science-and-Technology-Light-Vertical-Logo.png"
                    alt="DSC"></a>
            <ul>
                <li>
                    <a class="nav_title">NKFUST DSC </a>
                    <ul class="menus">
                        <h1>第 一 隻 二 哈</h1>
                        <img src="/img/husky2.jpeg" alt="husky2">
                    </ul>

                </li>
                <li>
                    <a class="nav_title">About DSC</a>
                    <ul class="menus">
                        <h1>第 二 隻 二 哈</h1>
                        <img src="../img/husky3.jpeg" alt="husky3">
                    </ul>

                </li>
                <li>
                    <a class="nav_title">聯 絡 我 們</a>
                    <ul class="menus">
                        <h1>第 三 隻 二 哈</h1>
                        <img src="../img/husky4.jpeg" alt="husky4">
                    </ul>
                </li>
                <li>
                    <a class="nav_title">贊 助 單 位 </a>
                    <ul class="menus">
                        <h1>第 四 隻 二 哈</h1>
                        <img src="../img/husky5.jpeg" alt="husky5">
                    </ul>
                </li>
                <li>
                    <a class="nav_title">乾 爹 專 區</a>
                    <ul class="menus">
                        <h1>第 五 隻 二 哈</h1>
                        <img src="../img/husky6.jpeg" alt="husky6">
                    </ul>
                </li>
            </ul>
            <div class="container_search">
                <input type="text"><i class="fas fa-search"></i>
            </div>
            <div class="footer">
                <p>Copyright &copy; Hero. All rights reserved.</p>
            </div>
        </nav>
        <div class="content">
            <div class="content_text">
                <h1>DSC 網 頁 前 端 入 門 ‘ 網 頁 前 端 切 版 ’</h1>
                <h2>一 個 簡 單 的 導 覽 列</h2>
                <div>
                    <a href="https://google.com">more <img src="../img/a_1.svg" alt="GO"></a>
                </div>
                <button>Hero Inc 株 式 會 社 <img src="../img/a_2.svg" alt="GO"></button>
            </div>
        </div>
    </div>

    <script src="../js/index.js"></script>
</body>

</html>