<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HERO</title>
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <nav></nav>
        <div class="content">
            <div class="content_text">
                <h1>DSC 網 頁 前 端 入 門 ‘ 網 頁 前 端 切 版 ’</h1>
                <h2>一 個 簡 單 的 導 覽 列</h2>
                <div>
                    <a href="https://google.com">more <img src="/img/a_1.svg" alt="GO"></a>
                </div>

                <button>Hero Inc 株 式 會 社 <img src="/img/a_2.svg" alt="GO"></button>
            </div>
        </div>
    </div>

</body>

</html>